@import url('https://fonts.googleapis.com/css?family=Raleway:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

html, body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-image: url("bg.jpg");
    background-attachment: fixed;
    padding: 20px 50px;
}
body p {
    text-align: center;
}
h2 {
    margin: 50px 0 20px 0 !important;
}
h3 {
    margin: 30px 0 0 0 !important;
}
.box {
    margin: 50px 0;
    border: 1px solid black;
    border-radius: 10px;
}
.box input, .box button, .box .code {
    margin: 15px 10px;
}

.code {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    background-color: rgba(211, 211, 211, .3);
    font-family: 'Inconsolata', monospace;
    cursor: text;
}
p a {
    color: black;
}